.row {
    margin: 0;
}
.navbar-nav>li>a {
    white-space: nowrap;
    display:inline;
}

.main-header {
    background-color: #ffffff;
    padding: 15px 0 0 0;
}

.main-menu {
    font: normal 16px/21px PT Sans Narrow,sans-serif;
    color: #333333;
    text-align: center;
}

.main-header-container {
    padding-top: 10px;
}

.navbar-inverse {
    background-color: transparent;
}

.navbar {
    border: none;
    margin: 0;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-inverse .navbar-nav>li>a {
    color: #333333;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #14b1f3;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #14b1f3;
    background-color: transparent;
}

.header-login {
    font: normal 16px/21px PT Sans Narrow,sans-serif;
}

@media (max-width: 992px) {
    .header-logo {
        text-align: center;
        margin-bottom: 10px;
    }

    /*.header-login {*/
        /*text-align: center;*/
    /*}*/

    #colorMe navbar-nav {
        text-align: center;
        margin-top: 10px;
    }
}
@media (min-width: 992px) {
    .header-logo {
        text-align: left;
    }

    /*.header-login {*/
        /*float: right;*/
    /*}*/
}

#loginList li a:nth-child(1){
    color:#f87839;
}

#loginList li a:nth-child(1):hover{
    color:#777777;
    background-color: transparent;
}

#loginList li a:nth-child(2){
    color:#14b1f3;
}

#loginList li a:nth-child(2):hover{
    color:#0071a0;
    background-color: transparent;
}

#map {
    position: relative;
    z-index: 0;
    height: 500px;
}

#map > .map-wrapper {
    position: relative;
    z-index: 5;
}

#map:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 10;
    pointer-events: none;

    -webkit-box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.75);
}

@media screen and (min-width: 1199px) and (max-width: 2000px) {
    div.header-logo {
        display: flex;
        justify-content: flex-end;
    }
    ul {}
}
@media screen and (min-width: 200px) and (max-width: 1200px) {
    div.header-logo {
        display: flex;
        justify-content: center;
    }
}
